<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
        <link rel="stylesheet" href="css/pages.css" />
    </head>
    <body>
        <%- include("../partials/header.ejs") %>

        <main class="blog">
            <div class="blog-text">
                <h1>Our Blog & Articles</h1>
                <p>
                    We consider all the drivers of change gives you the
                    components you need to change to create a truly happens.
                </p>
            </div>

            <div class="container">
                <% items.forEach(item => { %>
                <article class="blog-article">
                    <img src="<%= item.image %>" alt="<%= item.name %>" />
                    <div class="article-text">
                        <p><%= item.data %></p>
                        <h3><%= item.title %></h3>
                    </div>
                </article>
                <% }) %>
            </div>
        </main>

        <div id="toast">
            <button class="close-btn">×</button>
            <div id="toast-message"></div>
        </div>

        <%- include("../partials/footer.ejs") %>

        <script src="js/script.js"></script>
    </body>
</html>
