<section class="top-site">
    <div class="container">
        <div class="info-top">
            <img src="/assets/images/icons/phone.png" alt="" />
            <span>(414)857 - 0107</span>
            <img src="/assets/images/icons/email.png" alt="" />
            <span>yummy@bistrobliss</span>
        </div>
        <div class="social-top">
            <a href=""><img src="assets/images/icons/twitter.png" alt="" /></a>
            <a href=""><img src="assets/images/icons/facebook.png" alt="" /></a>
            <a href=""
                ><img src="assets/images/icons/instagram.png" alt=""
            /></a>
            <a href=""><img src="assets/images/icons/github.png" alt="" /></a>
        </div>
    </div>
</section>

<header>
    <div class="container">
        <div class="title-header">
            <a href="/">
                <img src="assets/images/icons/japanese-food.png" alt="" />
                <h1>Bistro Bliss</h1>
            </a>
        </div>

        <div class="menu">
            <a href="/" class="<%= currentPage === "home" ? 'active' : ""  %>">Home</a>
            <a href="/about" class="<%= currentPage === "about" ? 'active' : "" %>">About</a>
            <a href="/menu" class="<%= currentPage === "menu" ? 'active' : "" %>">Menu</a>
            <a href="/pages" class="<%= currentPage === "pages" ? 'active' : "" %>">Pages</a>
            <a href="/contact" class="<%= currentPage === "contact" ? 'active' : "" %>">Contact</a>
            <div>
                <a class="nb-button" href="/book">Book A Table</a>
            </div>
        </div>

        <div class="hamburguer-div">
            <span>☰</span>
        </div>

        <a class="nb-button" href="/book">Book A Table</a>

        <div class="cart-div">
            <a href="/cart" class="cart"><span style="color: var(--color-red);" id="cartSpan">0</span><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        
    </div>
</header>
